.site-aboutus{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 40px;
    
}

.aboutus-text{
    padding-left:60px;
    margin-right:80px;
    
}

.aboutus-text h4{
    color:#4E6DB8;
    font-size:16px;

}

.aboutus-text h2{
    font-size:40px;
}

.aboutus-text p{
    padding-right:100px;
    font-size:18px;
    color:#1F2B48;
}

.button{
    background-color: #4E6DB8;
    color:white;
    width:179px;
    height:56px;
    font-size:22px;
    font-weight: 600;
    border-radius: 4px;
    border:none;
}
