* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


body {
 font-family: var(--font-raleway);
 font-size: 16px;
 line-height: 1.5;
}

hr {
 margin: 1rem 0;
}

/*typography*/

h1,
.h1 {
 font-size: 44px;
 line-height: 1.3;
}

h2,
.h2 {
 font-size: 32px;
 line-height: 1.2;
}

h3,
.h3 {
 font-size: 24px;
 line-height: normal;
}

/*For Tab Device*/
@media screen and (min-width: 768px) {

 h1,
 .h1 {
  font-size: 48px;
 }
}


/*For laptop Device*/

@media screen and (min-width: 1024px) {
 body {
  font-size: 18px;
 }

 h1,
 .h1 {
  font-size: 56px;
 }

 h2,
 .h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--black);
 }

 h3,
 .h3{
    font-size:24px;
    font-weight: bold;
 }

 p{
    font-size: 18px;
    color:var(--white);
 }
}