* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


body {
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 line-height: 1.667;
}

/*Typography*/

h1 {
 font-size: 56px;
 line-height: 1.3;
}

h2 {
 font-size: 40px;
 line-height: 1.3;
}

h3 {
 font-size: 24px;
 line-height: 1.3;
}

/*container widths*/

.container {
 max-width: 1310px;
 margin: 0 auto;
 padding: 0 15px;
}

/*components*/

.block-title span {
 color: #4E6DB8;
}
.block-title h2 {
 color: red;
}
