.services {
    background-color: #1F2B48;
    color: white;
margin-top: 20px;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
}
.serviceprovider h2{
   position: relative;
   padding: 20px;
}
.image-grid{
    display: grid;
    gap: 10px;
    margin:90px;
    grid-template-columns: 1fr 1fr;
}

.image-items{
  text-align: left;
 padding: 40px;

}
.image-items p{
   
   margin-top: 10px;
   font-size: 16px;
   float: left;display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   
}
.image-items img{

    height: auto;
    border-radius: 8px;
}