/*Button Default*/
.btn {
 display: inline-block;
 border: 1px solid transparent;
 font-size: 1.25rem;
 line-height: 1.09;
 background-color: var(--black);
 color: var(--white);
 border-radius: 0.25rem;
 text-decoration: none;
 text-align: center;
 padding: 0.9375rem 1.5rem;
 font-weight: 600;
 transition: all 0.3s;
}

.btn:hover {
 background-color: var(--white);
 color: var(--black);
 border-color: var(--black);
}

/*Button Primary*/
.btn-primary {
 background-color: var(--blue);
}

.btn-primary:hover {
 background-color: var(--white);
 color: var(--blue);
 border-color: var(--blue);
}



/*Responsive*/

/*For laptop Device*/
@media screen and (min-width: 1024px) {
 .btn {
  font-size: 1.375rem;
  padding: 17px 2rem;

 }
}