
.list-check ul li {
 position: relative;
 list-style-type: none;
 padding-left: 1.875rem;
}

.list-check ul li::before {
 position: absolute;
 font-family: 'icomoon';
 content: '\e902';
 top: 0;
 left: 0;
 font-size: 1.0625rem;
 color: var(--blue);
}