.media-offset {
  width: 100%;
  z-index: 1;
  padding: 12px;
  position: relative;
  display: inline-block;
}

.media-offset img {
  width: 100%;
  border-radius: 8px;
}

.media-offset::after,
.media-offset::before {
  content: '';
  position: absolute;
  width: 45%;
  height: 45%;
  z-index: -1;
  border-radius: 8px;
}

.media-offset::before {
  top: 0;
  left: 0;
  background-color: var(--black);
}

.media-offset::after {
  right: 0;
  bottom: 0;
  background-color: var(--blue);
}