/* 

.media-offset .container {
    display: flex;
    justify-content: flex-start; 
  }
  
  .media-offset .container figure {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: fit-content;
  }
  
  .media-offset .container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  
  .media-offset .container figure::before,
  .media-offset .container figure::after {
    content: '';
    position: absolute;
    width: 286.75px;
    height: 195.86px;
    border-radius: 8px;
    z-index: -1;
  }
  
  .media-offset .container figure::before {
    background-color: var(--black);
    top: -16.87px;
    left: -16.87px;
   
  }
  
  .media-offset .container figure::after {
    background-color:var(--blue);
    bottom: -16.78px;
    right: -16.87px;
  }
   */


.media-offset {
  position: relative;
  display: inline-block;
  padding: 16px;
}

.media-offset img {
  width: 100%;
  border-radius: 8px;
}

.media-offset::after,
.media-offset::before {
  position: absolute;
  content: '';
  width: 286px;
  height: 196px;
  border-radius: 8px;
  z-index: -1;
}

.media-offset::before {
  top: 0;
  left: 0;
  background-color: var(--black);
}

.media-offset::after {
  right: 0;
  bottom: 0;
  background-color: var(--blue);
}

/*Responsive*/

/*For laptop Device*/
@media screen and (min-width: 1024px) {

  .media-offset::after,
  .media-offset::before {
    width: 290px;
    /* height: 196px; */
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  .media-offset::after,
  .media-offset::before {
    width: 250px;
    height: 166px;
  }
}