.footer {
    background-color: var(--blue);
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
}

.footer-section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-section a {
    color: var(--white);
    text-decoration: none;
}

.footer-section .icon-call-alt{
    padding-right: 4px;
}

/*Responsive*/

/*For laptop Device*/
@media screen and (min-width: 1024px) {
    .footer-section{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-section a {
        color: var(--white);
        text-decoration: none;
    }
    
    .footer-section .icon-call-alt{
        padding-right: 4px;
    }
}