.site-footer {
    background-color: var(--blue);
    text-align: center;
    padding: 1rem 0;
}

.site-footer .phone-number a {
    color: var(--white);
    font-size: 1rem;
    line-height: normal;
    position: relative;
    padding-left: 20px;
    text-decoration: none;

}

.site-footer .phone-number a:hover {
    text-decoration: underline;

}

.site-footer .phone-number a i {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}


/*Responsive*/

/*For laptop Device*/
@media screen and (min-width: 1024px) {
    .site-footer {
        padding: 1.25rem 0;
    }
}