
.site-header{
    background-color:var(--black);
}

a{
    font-size: 29px;
    color:var(--white);
    text-decoration: none;
    font-weight: 600;
}

.contents{
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:var(--white); 
}
.number{
    font-size: 1.8125rem;
    font-weight: 600;
}
.phone-number{
    padding:27px 0;
}

.header-logo{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.icon-call{
    font-size: 32px;
    padding-right: 1rem;
}

