.site-header {
    background-color: var(--black);
    padding: 1rem 0;
}

.site-header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .phone-number a {
    font-size: 1.1875rem;
    line-height: normal;
    color: var(--white);
    font-weight: 600;
}
.site-header .phone-number a:hover {
    text-decoration: underline;
}

.site-header .phone-number a .number {
    display: none;
}

.site-header .phone-number a i {
    font-size: 2rem;
}


/*For Tab Device*/

@media screen and (min-width: 768px) {
    .site-header .phone-number a {
        font-size: 1.8125rem;
        position: relative;
        padding-left: 48px;

    }

    .site-header .phone-number a i {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

    }

    .site-header .phone-number a .number {
        display: inline-block;
    }
}

/*For laptop Device*/

@media screen and (min-width: 1024px) {
    .site-header {
        padding: 1.6875rem 0;
    }
}