
.site-header{
    background-color:var(--black);
}

.contents{
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:var(--white); 
}
.number{
    font-size: 29px;
    font-weight: 600;
    padding-top: 27px;
    padding-bottom: 27px;
}

.icon-call{
    padding-top:27.5px;
    padding-bottom: 27.5px;
    padding-right:16px;
}

.header-logo{
    padding-top: 24px;
    padding-bottom: 24px;
}

